* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    height: 100vh;
    width: 100vw;
    background-image: url('./images/pexels-viktoria-alipatova-2074130.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}